html,body{
    width: 100%;
    height: 100%;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.page{
    display: flex;
    flex-direction: column;
}

.hy-flex {
    display: flex;
}
.flex-ver{
    flex-direction: column;
}
.flex-1{
    flex: 1;
}
.hy-w-100 {
    width: 100%;
}

.flex-ac {
    align-items: center;
}
.flex-jc{
    justify-content: center;
}
